html,body{
    width: 100%;
}
img{
    border: none;
    outline-width:0;
    vertical-align: top;
}
main{
    padding-bottom: 0.42rem;
    margin: auto;
    width: 100%;
    max-width: 750px;
}
main .banner{
    width: 100%;
}
main .banner>img{
    width: 100%;
    height: auto;
}
img {
    width: 100%;
    height: 100%;
}
.content-wrap{
    display: none;
}
.show{
    display: block;
}
.hide{
    display: none;
}
body .fixed{
    position: fixed;
    top: 0;
    z-index: 10;
}
body .static{
    position: static;
    top: 0;
}
main{
    background: #DCEEFE;
}
main .banner{
    margin-bottom: 0.07rem;
}
main .content-wrap{
    padding-top: 0.06rem;
    width: 100%;
}
main .switch{
    margin: auto;
    width: 2.03rem;
    height: 0.42rem;
    border-radius: 0.21rem;
}
main .switch span{
    display: inline-block;
    width: 1.015rem;
    height: 0.42rem;
    line-height: 0.42rem;
    text-align: center;
    font-size: 0.14rem;
}
main .switch span.active{
    border-radius: 0.21rem;
    color: #fff;
    background:linear-gradient(to right ,#3023AE ,#C86DD7) ;
}
main .content .aside{
    padding: 0 0.16rem 0 0.17rem;
    margin: 0.15rem 0 0.27rem;
    width: 100%;
    height: 1.24rem;
    box-sizing: border-box;
}
main .content .aside .aside-desc{
    margin-right: 0.18rem;
    line-height: 0.18rem;
    font-size: 0.13rem;
    color: #2A0D0D;
}
main .content .aside .aside-pic{
    position: relative;
    width: 1.2rem;
    height: 1.2rem;
    overflow: hidden;
}
main .content .aside .aside-pic img{
    width: 100%;
    height: auto;
}
main .content .list{
    padding: 0 0.06rem 0.1rem 0.12rem;
    margin-bottom: 0.15rem;
    width: 3.6rem;
    height: 1.12rem;
    background:url("../image/wedding_style/list_bg.png") no-repeat center;
    background-size:3.6rem 1.12rem;
    box-sizing: border-box;
}
main .content .list .name{
    line-height: 0.22rem;
    font-size: 0.16rem;
    font-weight: bold;
    color: #383838;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
main .content .list .address{
    line-height: 0.16rem;
    font-size: 0.11rem;
    color: #999999 ;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
main .content .list .price{
    margin-right: 0.1rem;
    line-height: 0.18rem;
    font-size: 0.18rem;
    color: #383838 ;
}
main .content .list .price em{
    font-style: normal;
    font-size: 0.12rem;
}
main .content .list .desc{
    line-height: 0.17rem;
    font-size: 0.12rem;
    color: #1B1B1B;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
}
main .content .list .pic{
    position: relative;
    width: 0.91rem;
    height: 0.91rem;
    background: #E0E0E0;
    overflow: hidden;
}
main .feed{
    background: #eceff2;
}
main .feed .feed-title{
    width: 100%;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    font-size: 0.13rem;
}
main .feed .feed-list{
    margin-bottom: 0.04rem;
    padding:0 0.15rem;
    width: 100%;
   height: 1.34rem;
    background: #FFF;
    box-sizing: border-box;
}

main .feed .feed-list .feed-pic{
    margin-right: 0.1rem;
    width: 1.04rem;
    height: 0.8rem;
    background: #E0E0E0;
}
main .feed .feed-list .feed-info{
    color: #383838;
}
main .feed .feed-list .feed-info .place-name{
    margin-bottom: 0.05rem;
    font-size: 0.16rem;
}
main .feed .feed-list .feed-info .place-type,main .feed .feed-list .feed-info .place-address{
    margin-bottom: 0.03rem;
    font-size: 0.12rem;
}
main .feed .feed-list .feed-info .place-num{
    margin-bottom: 0.05rem;
    font-size: 0.12rem;
    color: #9b9b9b;
}
main .feed .feed-list .feed-info .place-num .num-detail{
    margin-right: 0.15rem;
}
main .feed .feed-list .feed-info .place-num em{
    font-style: normal;
    color: #fb916c;
}
main .feed .feed-list .feed-price{
    font-size: 0.15rem;
    color: #fb916c;
}
main .feed .feed-list .feed-text{
    font-size: 0.12rem;
    color: #383838;
}
main .feed .feed-list .feed-btm{
    padding-left: 0.13rem;
    font-size: 0.12rem;
    color: #9b9b9b;
    background: url("../image/wedding_style/hot@3x.png") no-repeat 0 center;
    background-size: 0.1rem 0.13rem;
}
main .down-btn{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.42rem;
    background-color: #fff;
    font-size: 0;
}
main .part{padding: 0.1rem 0;background: #FFF;}
main .part .text{background:#fff;font-size: 0.12rem;color: #999999;text-align: center;}
#down{
    display: inline-block;
    width: 100%;
    height: 100%;
    background:linear-gradient(to right ,#3023AE ,#C86DD7);
    border-radius: 0.21rem;
    line-height: 0.42rem;
    text-align: center;
    font-size: 0.18rem;
    color: #FFF;
}