*{margin: 0;padding: 0;}
body{
    font-size: 0;
}
main{
    margin: 0 auto;
    padding-bottom: 0.5rem;
    width: 100%;
    max-width: 750px;
    background: #F5DCD0;
}
img{
    width: 100%;
}
main .banner{

}
main .title{
    margin: 0 auto 0.3rem;
    width: 3.3rem;
}
main .ctn{
    box-sizing: border-box;
}
main .desc-box{
    padding-top: 0.15rem;
}
main .desc{
    line-height: 0.38rem;
    font-size: 0.12rem;
    color: #fe7d82;
}
main .wechat-num{
    position: absolute;
    top: 0.88rem;
    left: 1.82rem;
    font-size: 0.16rem;
    color: #fde44a;
    letter-spacing: 0;
    line-height: 22px;
}
main .wechat-num2{
    top: 1.1rem;
}
main .ctn .guide{
    margin: 0.2rem 0;
    padding: 0 0.15rem;
    height: 1rem;
}
main .ctn .guide .img-box{
    display: inline-block;
    width: 1.65rem;
    height: 1rem;
    border-radius: 0.1rem;
    background: #f1f1f1;
}
main .ctn .guide .left{
    margin-right: 0.15rem;
}
main .weixin{
    font-style: normal;
    color: #2f74ff;
}
main .edit{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    line-height: 0.5rem;
    background: #FF826F;
    border-radius: 0.08rem 0.08rem 0 0;
    text-align: center;
    font-size: 0.18rem;
    color: #FFF;
}
