<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>都是傲娇的婚纱，只要呆萌的价格</title>
    <link rel="stylesheet" href="../../public/css/reset.css">
    <link rel="stylesheet" href="../../public/css/flex.css">
    <link rel="stylesheet" href="../../public/css/pop.css">
    <link rel="stylesheet" href="../css/dress.css">
    <script>
        (function () {
            var docEl = document.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if(clientWidth>=750){
                        clientWidth=750;
                    }
                    docEl.style.fontSize = 100 * (clientWidth / 375) + 'px';
                };
            if (!document.addEventListener) return;
            window.addEventListener(resizeEvt, recalc, false);
            document.addEventListener('DOMContentLoaded', recalc, false);
        })()
    </script>
</head>
<body>
<main>
    <div><img align='absmiddle' src="https://product-uploadtoimages.oss-cn-beijing.aliyuncs.com/plat_activity/app_h5/618/dress/banner.jpg" alt=""></div>
    <div class="content">
        <ul class="wrap">
            <li class="list" flex="dir:top main:center cross:center" seller_id="8424" article_id="60506">
                <div class="block">
                    <div class="pic" article_id="60506"><img class="lazy"  data-original="https://product-uploadtoimages.oss-cn-beijing.aliyuncs.com/plat_activity/app_h5/618/dress/list/dwzulin.jpg" alt=""></div>
                    <div class="info" seller_id="8424"  flex="dir:top main:center cross:center">
                        <p class="well">618惊爆价：4688元租赁套餐</p>
                        <p class="name">DREAM WEAVING婚纱礼服原创设计</p>
                        <p class="desc">租赁即享3.5折</p>
                    </div>
                </div>
                <div class="button"  activity_id="36"></div>
            </li>
            <li class="list" flex="dir:top main:center cross:center" seller_id="8424" article_id="60505">
                <div class="block">
                    <div class="pic"  article_id="60505"><img class="lazy"  data-original="https://product-uploadtoimages.oss-cn-beijing.aliyuncs.com/plat_activity/app_h5/618/dress/list/dwdingzhi.jpg" alt=""></div>
                    <div class="info" seller_id="8424" flex="dir:top main:center cross:center">
                        <p class="well">618惊爆价：4986元定制套餐</p>
                        <p class="name">DREAM WEAVING婚纱礼服原创设计</p>
                        <p class="desc">定制即享4.8折</p>
                    </div>
                </div>
                <div class="button" activity_id="51"></div>
            </li>
            <li class="list" flex="dir:top main:center cross:center" seller_id="8504" article_id="60242">
                <div class="block">
                    <div class="pic"  article_id="60242"><img class="lazy"  data-original="https://product-uploadtoimages.oss-cn-beijing.aliyuncs.com/plat_activity/app_h5/618/dress/list/taiwanher.jpg" alt=""></div>
                    <div class="info" seller_id="8504" flex="dir:top main:center cross:center">
                        <p class="well">618惊爆价：2720元 起</p>
                        <p class="name">台湾HER Studio（翯）·精致婚纱礼服工作室</p>
                        <p class="desc">全店85折</p>
                    </div>
                </div>
                <div class="button" activity_id="37"></div>
            </li>
            <li class="list" flex="dir:top main:center cross:center" seller_id="7798" article_id="60058">
                <div class="block">
                    <div class="pic"  article_id="60058"><img class="lazy"  data-original="https://product-uploadtoimages.oss-cn-beijing.aliyuncs.com/plat_activity/app_h5/618/dress/list/onlyyou.jpg" alt=""></div>
                    <div class="info" seller_id="7798" flex="dir:top main:center cross:center">
                        <p class="well">618惊爆价：4213元 起</p>
                        <p class="name">Only You高级定制</p>
                        <p class="desc">全店8折</p>
                    </div>
                </div>
                <div class="button" activity_id="38"></div>
            </li>
            <li class="list" flex="dir:top main:center cross:center" seller_id="8243" article_id="56309">
                <div class="block">
                    <div class="pic"  article_id="56309"><img class="lazy"  data-original="https://product-uploadtoimages.oss-cn-beijing.aliyuncs.com/plat_activity/app_h5/618/dress/list/yami.jpg" alt=""></div>
                    <div class="info" seller_id="8243" flex="dir:top main:center cross:center">
                        <p class="well">618惊爆价：5500元 起</p>
                        <p class="name">YAMI婚纱彩妆公社</p>
                        <p class="desc">全店满5000-500 I 满10000-1000</p>
                    </div>
                </div>
                <div class="button" activity_id="39"></div>
            </li>
            <li class="list" flex="dir:top main:center cross:center" seller_id="8511" article_id="59654">
                <div class="block">
                    <div class="pic"  article_id="59654"><img class="lazy"  data-original="https://product-uploadtoimages.oss-cn-beijing.aliyuncs.com/plat_activity/app_h5/618/dress/list/cinderlla.jpg" alt=""></div>
                    <div class="info" seller_id="8511" flex="dir:top main:center cross:center">
                        <p class="well">618惊爆价：5599元 起</p>
                        <p class="name">Cinderella婚纱礼服定制店</p>
                        <p class="desc">全店满5000-500 I 满10000-1000</p>
                    </div>
                </div>
                <div class="button" activity_id="40"></div>
            </li>
            <li class="list" flex="dir:top main:center cross:center" seller_id="6621" article_id="60713">
                <div class="block">
                    <div class="pic" article_id="60713"><img class="lazy"  data-original="https://product-uploadtoimages.oss-cn-beijing.aliyuncs.com/plat_activity/app_h5/618/dress/list/julia.jpg" alt=""></div>
                    <div class="info" seller_id="6621" flex="dir:top main:center cross:center">
                        <p class="well">618惊爆价：8559元 起</p>
                        <p class="name">JULIA 茱麗亞</p>
                        <p class="desc">租赁套餐8折</p>
                    </div>
                </div>
                <div class="button"  activity_id="41"></div>
            </li>
            <li class="list" flex="dir:top main:center cross:center" seller_id="6601" article_id="58010">
                <div class="block">
                    <div class="pic"  article_id="58010"><img class="lazy"  data-original="https://product-uploadtoimages.oss-cn-beijing.aliyuncs.com/plat_activity/app_h5/618/dress/list/jiemo.jpg" alt=""></div>
                    <div class="info" seller_id="6601" flex="dir:top main:center cross:center">
                        <p class="well">618惊爆价：8900元 起</p>
                        <p class="name">芥茉新娘</p>
                        <p class="desc">全店满8000-500 I 满15000-1000满20000-1500</p>
                    </div>
                </div>
                <div class="button"  activity_id="42"></div>
            </li>
        </ul>
    </div>
</main>
<div class="alpha" style="display: none"></div>
<div class="fixed-wrap" style="display: none">
    <!--领取名额-->
    <div class="join-info join-info-1" style="display: none">
        <div class="title-box">
            <p class="join-title">还差一步就预约成功啦</p>
            <p class="join-sub-title">填写您的手机号，商家24小时之内会联系您，沟通试纱时间</p>
        </div>

        <p class="join-fill join-fill-phone">
            <input id="phone" type="text" placeholder="填写手机号以便商家联系您" maxlength="11">
            <span class="error-msg">手机号输入格式错误</span>
        </p>
        <p class="join-fill join-fill-code">
            <input id="code" type="text" placeholder="输入验证码" maxlength="4"><span class=" disable">获取验证码</span>
            <span class="error-msg">验证码错误</span>
        </p>
        <p class=" join-disable">确认领取</p>
    </div>
    <!--预约成功-->
    <div class="join-info join-info-suc" style="display: none" flex="dir:left main:center cross:center">
        <img src="../image/dress/suc.png" alt="">
        <i class="close"></i>
    </div>
</div>
<script src="../../public/js/zepto.min.js"></script>
<script src="../../public/js/utils.js"></script>
<script src="../../public/js/pop.js"></script>
<script src="../js/jump.js"></script>
<script>
   $(document).ready(function () {
       function Page() {
           this.formData={
               activity_id:'',
               seller_id:'',
               phone:'',
               code:'',
               token:'',
               activity_num:3
           };
           this.submit=function (obj) {
               console.table(obj);
               var param={
                   "weddingHeader":{},
                   "body":{
                       "phone":obj.phone,
                       "code":obj.code?obj.code:null,
                       "token":obj.token?obj.token:null,
                       "weddingDate":obj.wedding_date?obj.wedding_date:'',
                       "activityId":obj.activity_id,
                       "sellerId":obj.seller_id,
                       "sendMsg":false,
                       "toSeller":true,
                       "gift":obj.activeContent,
                       "sellerName":obj.sellerName,
                       "userPhone":obj.userPhone
                   }
               };
               var _this=this;
               _this.getData("/base/user/UserAction_CMSlogin","post",JSON.stringify(param),function(result){
                   if(result.retcode==0){
                       $("#phone").val('');
                       $("#code").val('');
                       $('.join-fill-code .disable').removeClass("get-code");
                       $(".join-disable").removeClass("join-submit");
                       var status=(result.resp.status);
                       if (status==2){
                           if((utils.initMainInfo().isApp)){
                               if(utils.initMainInfo().isToken){
                                   $(".button").removeClass("disable");
                               }else {
                                   _this.flag=true;
                               }
                           }
                           if(utils.initMainInfo().isToken){
                               _this.showSucStatus();
                            }else {_this.showSucStatus(true);}
                           _this.Login(result.resp.user);

                       }else if(status==1){
                           if((utils.initMainInfo().isApp)){
                               if(utils.initMainInfo().isToken){
                                   $(".button").removeClass("disable");
                               }else {
                                   _this.flag=true;
                               }
                           }
                           _this.close&&_this.close();
                           new AlertPop({message:"您已预约成功",isReload:!(utils.initMainInfo().isToken)});
                           _this.Login(result.resp.user);
                           /*if(utils.initMainInfo().isToken){
                               window.location.reload();
                           }*/
                       }
                   }else{
                       $("#code").siblings(".error-msg").text(result.msg).css("visibility","visible")
                   }
               })
           };
           this.olderPop=new OlderPop({
               callBack:this.submit
           });
           this.init();
       }
       Page.prototype={
           constructor:Page,
           init:function () {
               var _this=this;
               new ImageCenter();
               _this.sellerDetail();
               _this.articleDetail();
               _this.olderOpera();
           },
           sellerDetail:function () {
               $(".info").on("click",function () {
                   var jumpPage=new JumpPage();
                   jumpPage.toSellerDetail(this,9,0)
               });
           },
           articleDetail:function () {
               $(".pic").on("click",function () {
                   var jumpPage=new JumpPage();
                   jumpPage.toArticleDetail(this,6);
               });
           },
           olderOpera:function () {
               var _this=this;
               $(".button").on("click",function () {
                  if(!$(this).hasClass("disable")){
                      var native=new NativeFn();
                      if(native.isApp){
                          var seller_id=parseInt($(this).parent().attr("seller_id"));
                          var activity_id=parseInt($(this).attr("activity_id"));
                          var sellerName=$(this).siblings(".block").find(".info").find(".name").text();
                          var activeContent=$(this).siblings(".block").find(".info").find(".desc").text();
                          if(native.isToken){//app登录状态
                              $(this).addClass("disable");
                              //TODO:直接submit
                              _this.formData.phone=utils.initMainInfo().user.phone;
                              _this.formData.token=utils.initMainInfo().user.token;
                              _this.formData.activity_id=activity_id;
                              _this.formData.seller_id=seller_id;
                              _this.formData.userPhone=utils.initMainInfo().user.phone;
                              _this.formData.sellerName=sellerName;
                              _this.formData.activeContent=activeContent;
                              _this.submit.call(_this.olderPop,_this.formData);
                          }else {//app未登录状态
                              //TODO:弹框
                              _this.olderPop.formData.seller_id=seller_id;
                              _this.olderPop.formData.activity_id=activity_id;
                              _this.olderPop.formData.sellerName=sellerName;
                              _this.olderPop.formData.activeContent=activeContent;
                              _this.olderPop.showOlderPop.call(_this.olderPop);
                          }
                          new NativeFn().countAll("freeTryDressClick")
                      }else {//非app内
                          //TODO:开启或下载
                          native.openAPP();
                      }
                  }
               });
           }
       };
       new Page()
   })

</script>
</body>
</html>