<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>梦婚礼，年中钜惠大放价</title>
    <link rel="stylesheet" href="../../public/css/reset.css">
    <link rel="stylesheet" href="../../public/css/flex.css">
    <link rel="stylesheet" href="../../public/css/swiper.min.css">
    <link rel="stylesheet" href="../../public/css/pop.css">
    <link rel="stylesheet" href="../css/index.css">
    <script>
        (function () {
            var docEl = document.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if(clientWidth>=750){
                        clientWidth=750;
                    }
                    docEl.style.fontSize = 100 * (clientWidth / 375) + 'px';
                };
            if (!document.addEventListener) return;
            window.addEventListener(resizeEvt, recalc, false);
            document.addEventListener('DOMContentLoaded', recalc, false);
        })()
    </script>
</head>
<body>
<main>
    <section>
        <div class="banner">
            <img align='absmiddle' src="https://product-uploadtoimages.oss-cn-beijing.aliyuncs.com/plat_activity/app_h5/618/index/new_card1.jpg" alt="">
            <span class="role-entry">活动规则</span>
        </div>
        <div class="rotary-part" flex="dir:top main:center cross:center">
            <div class="all-win"><i class="all-icon"></i><i class="turnplate-btm"></i></div>
            <div class="turntable-bg">

                <div class="pointer"><img src="../image/index/turnplate-pointer.png" alt="pointer"></div>

                <div class="rotate"><img id="rotate" src="../image/index/turnplate-bg.png" alt="turntable" style="transform: rotate(26deg);"></div>

            </div>
            <div class="older-phone swiper-container">
                <div class="older-banner swiper-wrapper">
                    <p class="swiper-slide">151xxxx4599 在幸运盘中抽中特等奖</p>
                    <p class="swiper-slide">135xxxx1411 在幸运盘中抽中一等奖</p>
                    <p class="swiper-slide">159xxxx0295 在幸运盘中抽中三等奖</p>
                    <p class="swiper-slide">185xxxx6239 在幸运盘中抽中三等奖</p>
                    <p class="swiper-slide">186xxxx1246 在幸运盘中抽中二等奖</p>
                    <p class="swiper-slide">132xxxx0923 在幸运盘中抽中一等奖</p>
                    <p class="swiper-slide">152xxxx3949 在幸运盘中抽中三等奖</p>
                    <p class="swiper-slide">153xxxx3522 在幸运盘中抽中特等奖</p>
                    <p class="swiper-slide">134xxxx4848 在幸运盘中抽中三等奖</p>
                    <p class="swiper-slide">135xxxx9502 在幸运盘中抽中特等奖</p>
                    <p class="swiper-slide">186xxxx8661 在幸运盘中抽中特等奖</p>
                    <p class="swiper-slide">150xxxx7831 在幸运盘中抽中一等奖</p>
                    <p class="swiper-slide">139xxxx6244 在幸运盘中抽中二等奖</p>
                    <p class="swiper-slide">156xxxx7532 在幸运盘中抽中三等奖</p>
                    <p class="swiper-slide">133xxxx1323 在幸运盘中抽中二等奖</p>
                    <p class="swiper-slide">132xxxx1802 在幸运盘中抽中一等奖</p>
                    <p class="swiper-slide">186xxxx7124 在幸运盘中抽中三等奖</p>
                    <p class="swiper-slide">186xxxx2469 在幸运盘中抽中特等奖</p>
                    <p class="swiper-slide">132xxxx2433 在幸运盘中抽中特等奖</p>
                    <p class="swiper-slide">137xxxx4079 在幸运盘中抽中二等奖</p>
                    <p class="swiper-slide">186xxxx9125 在幸运盘中抽中特等奖</p>
                    <p class="swiper-slide">186xxxx2321 在幸运盘中抽中一等奖</p>
                    <p class="swiper-slide">136xxxx7484 在幸运盘中抽中二等奖</p>
                    <p class="swiper-slide">136xxxx8027 在幸运盘中抽中三等奖</p>
                    <p class="swiper-slide">189xxxx9659 在幸运盘中抽中二等奖</p>
                    <p class="swiper-slide">138xxxx5182 在幸运盘中抽中一等奖</p>
                    <p class="swiper-slide">132xxxx5158 在幸运盘中抽中三等奖</p>
                    <p class="swiper-slide">150xxxx7932 在幸运盘中抽中特等奖</p>
                    <p class="swiper-slide">133xxxx2718 在幸运盘中抽中一等奖</p>
                    <p class="swiper-slide">151xxxx0110 在幸运盘中抽中特等奖</p>
                    <p class="swiper-slide">151xxxx7001 在幸运盘中抽中特等奖</p>
                    <p class="swiper-slide">185xxxx8381 在幸运盘中抽中一等奖</p>
                    <p class="swiper-slide">138xxxx9380 在幸运盘中抽中二等奖</p>
                    <p class="swiper-slide">159xxxx9939 在幸运盘中抽中三等奖</p>
                    <p class="swiper-slide">136xxxx9777 在幸运盘中抽中二等奖</p>
                    <p class="swiper-slide">188xxxx4428 在幸运盘中抽中一等奖</p>
                    <p class="swiper-slide">183xxxx9612 在幸运盘中抽中三等奖</p>
                    <p class="swiper-slide">132xxxx8382 在幸运盘中抽中二等奖</p>
                    <p class="swiper-slide">151xxxx1591 在幸运盘中抽中三等奖</p>
                    <p class="swiper-slide">188xxxx5266 在幸运盘中抽中特等奖</p>
                    <p class="swiper-slide">134xxxx0552 在幸运盘中抽中特等奖</p>
                    <p class="swiper-slide">134xxxx1508 在幸运盘中抽中一等奖</p>
                    <p class="swiper-slide">183xxxx4934 在幸运盘中抽中二等奖</p>
                    <p class="swiper-slide">182xxxx4625 在幸运盘中抽中三等奖</p>
                    <p class="swiper-slide">183xxxx9316 在幸运盘中抽中二等奖</p>
                    <p class="swiper-slide">183xxxx2220 在幸运盘中抽中二等奖</p>
                    <p class="swiper-slide">186xxxx5670 在幸运盘中抽中三等奖</p>
                    <p class="swiper-slide">150xxxx2945 在幸运盘中抽中特等奖</p>
                    <p class="swiper-slide">136xxxx4727 在幸运盘中抽中三等奖</p>
                    <p class="swiper-slide">183xxxx6422 在幸运盘中抽中特等奖</p>

                </div>
            </div>
        </div>
    </section>
    <section class="section2">
       <div class="second-kill">
           <ul class="wrap">
               <li class="list"><p class="kill-btn" seller_id="6371" num="1" phone="17896006806" gift="0元抢购婚礼策划" name="Sunny喜铺" city="北京" type="策划" price="0" logo="../image/index/logo/xipu.jpg">立即抢</p></li>
               <li class="list"><p class="kill-btn" seller_id="7798" num="3" phone="15101582651" gift="抢租婚纱（3件可选）" name="ONLY YOU高级定制" city="北京" type="婚纱" price="618" logo="../image/index/logo/only_you.png">立即抢</p></li>
               <li class="list"><p class="kill-btn" seller_id="8075" num="3" phone="15732678917" gift="999元拍婚纱" name="北京天空摄影" city="北京" type="摄影" price="999" logo="../image/index/logo/tiankong.jpeg">立即抢</p></li>
               <li class="list"><p class="kill-btn" seller_id="8423" num="3" phone="15880225159" gift="888元拍婚纱" name="厦门时光流年婚纱摄影" city="厦门" type="摄影" price="888" logo="../image/index/logo/shiguangliunian.png">立即抢</p></li>
           </ul>
       </div>
    </section>
    <section class="section3">
        <div style="height: 1rem"><img align='absmiddle' src="../image/index/card3.jpg" alt=""></div>
        <div class="channel">
            <ul class="channel-wrap">
                <li class="channel-list clear" url="/618/view/dress.html">
                    <a href="javascript:;"> <img src="https://product-uploadtoimages.oss-cn-beijing.aliyuncs.com/plat_activity/app_h5/618/index/hunshalifu.png" alt=""></a>
                </li>
                <li class="channel-list clear" url="/618/view/photo.html">
                    <a href="javascript:;"><img src="https://product-uploadtoimages.oss-cn-beijing.aliyuncs.com/plat_activity/app_h5/618/index/hunshasheying.png" alt=""></a>
                </li>
                <li class="channel-list clear" url="/618/view/plan.html">
                    <a href="javascript:;"><img src="https://product-uploadtoimages.oss-cn-beijing.aliyuncs.com/plat_activity/app_h5/618/index/hunlicehua.png" alt=""></a>
                </li>
            </ul>
        </div>
    </section>
</main>

<div class="alpha" style="display: none"></div>
<div class="role-box" style="display: none"  flex="dir:left main:center cross:center">
    <div class="role"><img src="../image/index/new_role.png" alt=""></div>
</div>
<div class="fixed-wrap" style="display: none">
    <!--领取名额-->
    <div class="join-info join-info-1" style="display: none">
        <div class="title-box" flex="dir:left main:center" style="margin: 0 auto;width: 1.484rem;height: 0.587rem">
            <img src="../image/index/logo.png" alt="">
        </div>

        <p class="join-fill join-fill-phone">
            <input id="phone" type="text" placeholder="请填写手机号" maxlength="11">
            <span class="error-msg">手机号输入格式错误</span>
        </p>
        <p class="join-fill join-fill-code">
            <input id="code" type="text" placeholder="输入验证码" maxlength="4"><span class=" disable">获取验证码</span>
            <span class="error-msg">验证码错误</span>
        </p>
        <p class=" join-disable">确认登录</p>
    </div>
    <div class="join-info second-kill-suc" style="display: none" flex="dir:left main:center cross:center">
        <div class="second-kill-text" id="second-kill-call">
           <!-- <div class="call-info" flex="dir:left main:center cross:center">
               <p class="call-avatar"></p>
                <div flex="dir:top main:left">
                    <p class="call-name">商家名称名称</p>
                    <p class="call-all">城市 | 品类 | 价格</p>
                </div>
            </div>
            <div class="call-desc-box" flex="dir:top main:center">
                <p class="call-goods-info">秒杀商品信息商品信息</p>
                <p class="call-desc">商家会于7个工作日内与您联系<br>
                    一定要保持电话的畅通哦</p>
            </div>-->
        </div>
        <i class="close"></i>
    </div>
    <div class="join-info prize-suc" style="display: none" flex="dir:left main:center cross:center">
        <div class="prize-text" id="prize-call">
           <!-- <div class="prize-call-info" flex="dir:left main:center cross:center box:last">
               <div class="desc" flex="dir:top main:left">
                   <p class="desc1">恭喜您抽中三等奖</p>
                   <p class="desc2">由谁提供的什么丰盛切具有纪念意义的奖品</p>
               </div>
                <p class="call-avatar"></p>
            </div>
            <div class="call-text" flex="dir:top main:center">
                <p>有效期:一个月<br>请尽快到店领取</p>
            </div>-->
        </div>
        <i class="close"></i>
    </div>
</div>
<script src="../../public/js/zepto.min.js"></script>
<script src="../../public/js/utils.js"></script>
<script src="../../public/js/swiper.min.js"></script>
<script src="../../public/js/pop.js"></script>
<script src="../js/index.js"></script>
</body>
</html>