<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>全网最红婚礼策划，千元红包免费领</title>
    <link rel="stylesheet" href="../../public/css/reset.css">
    <link rel="stylesheet" href="../../public/css/flex.css">
    <link rel="stylesheet" href="../../public/css/pop.css">
    <link rel="stylesheet" href="../css/plan.css">
    <script>
        (function () {
            var docEl = document.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if(clientWidth>=750){
                        clientWidth=750;
                    }
                    docEl.style.fontSize = 100 * (clientWidth / 375) + 'px';
                };
            if (!document.addEventListener) return;
            window.addEventListener(resizeEvt, recalc, false);
            document.addEventListener('DOMContentLoaded', recalc, false);
        })()
    </script>
</head>
<body>
<main>
    <div><img align='absmiddle' src="https://product-uploadtoimages.oss-cn-beijing.aliyuncs.com/plat_activity/app_h5/618/plan/banner.jpg" alt=""></div>
    <div class="package" flex="dir:left main:center cross:center"><span class="package-btn"></span><img src="../image/plan/red_package.png" alt=""></div>
    <div>
        <ul class="wrap">
            <li class="list" seller_id="6669" article_id="25484">
                <div class="pic-name">
                    <div class="pic"><img class="lazy"  data-original="https://product-uploadtoimages.oss-cn-beijing.aliyuncs.com/plat_activity/app_h5/618/plan/nike.jpg" alt=""></div>
                    <div class="name">尼克婚礼工厂</div>
                </div>
                <p class="desc">国内唯一先策划后付费婚礼机构<br>创立十余年，深耕婚嫁产业</p>
                <p class="look-more" seller_id="6669">查看更多</p>
            </li>
            <li class="list" seller_id="134" article_id="6217">
                <div class="pic-name">
                    <div class="pic"><img class="lazy"  data-original="https://product-uploadtoimages.oss-cn-beijing.aliyuncs.com/plat_activity/app_h5/618/plan/huaerzi.jpg" alt=""></div>
                    <div class="name">华尔兹婚礼服务</div>
                </div>
                <p class="desc">专注婚礼情感诉求<br>体验更细致多对一专业服务</p>
                <p class="look-more" seller_id="134">查看更多</p>
            </li>
            <li class="list" seller_id="412" article_id="1161">
                <div class="pic-name">
                    <div class="pic"><img class="lazy"  data-original="https://product-uploadtoimages.oss-cn-beijing.aliyuncs.com/plat_activity/app_h5/618/plan/tianshi.jpg" alt=""></div>
                    <div class="name">天鹅的故事</div>
                </div>
                <p class="desc">曾为内地知名艺人/运动员举办婚礼<br>报价透明，无强制消费</p>
                <p class="look-more" seller_id="412">查看更多</p>
            </li>
            <li class="list" seller_id="8102" article_id="46829">
                <div class="pic-name">
                    <div class="pic"><img class="lazy"  data-original="https://product-uploadtoimages.oss-cn-beijing.aliyuncs.com/plat_activity/app_h5/618/plan/meiluodi.jpg" alt=""></div>
                    <div class="name">美洛蒂私属婚礼定制 </div>
                </div>
                <p class="desc">18年资深策划经验团队<br>专属定制，圆梦每一对新人</p>
                <p class="look-more" seller_id="8102">查看更多</p>
            </li>
        </ul>
    </div>
</main>
<div class="alpha" style="display: none"></div>
<div class="fixed-wrap" style="display: none">
    <!--领取名额-->
    <div class="join-info join-info-1" style="display: none">
        <div class="title-box" flex="dir:left main:center" style="margin: 0 auto;width: 1.484rem;height: 0.587rem">
            <img src="../image/index/logo.png" alt="">
        </div>

        <p class="join-fill join-fill-phone">
            <input id="phone" type="text" placeholder="请填写手机号" maxlength="11">
            <span class="error-msg">手机号输入格式错误</span>
        </p>
        <p class="join-fill join-fill-code">
            <input id="code" type="text" placeholder="输入验证码" maxlength="4"><span class=" disable">获取验证码</span>
            <span class="error-msg">验证码错误</span>
        </p>
        <p class=" join-disable">确认登录</p>
    </div>
    <!--预约成功-->
    <div class="join-info join-info-suc" style="display: none" flex="dir:left main:center cross:center">
        <img src="../image/plan/suc.png" alt="">
        <i class="close"></i>
    </div>
</div>
<script src="../../public/js/zepto.min.js"></script>
<script src="../../public/js/utils.js"></script>
<script src="../../public/js/pop.js"></script>
<script src="../js/jump.js"></script>
<script>

    $(document).ready(function () {
        function Page(){
            this.formData={
                activity_id:'',
                seller_id:'',
                phone:'',
                code:'',
                token:'',
                activity_num:3
            };
            this.submit=function (obj) {
                var param={
                    "weddingHeader":{},
                    "body":{
                        "phone":obj.phone,
                        "code":obj.code?obj.code:null
                    }
                };
                var _this=this;
                //TODO：切换登录接口(走登录的逻辑)
                _this.getData("/base/user/UserAction_login","post",JSON.stringify(param),function(result){
                    if(result.retcode==0){
                        $("#phone").val('');
                        $("#code").val('');
                        $('.join-fill-code .disable').removeClass("get-code");
                        $(".join-disable").removeClass("join-submit");
                        if((utils.initMainInfo().isApp)){
                            if(utils.initMainInfo().isToken){
                                $(".button").removeClass("disable");
                            }else {
                                _this.flag=true;
                            }
                        }
                        _this.close&&_this.close();
                        _this.Login(result.resp.user);
                        new AlertPop({message:"登录成功"});
                        if(utils.initMainInfo().isToken){
                            new AlertPop({message:"登录成功"});
                        }
                        window.location.reload();
                    }else{
                        $("#code").siblings(".error-msg").text(result.msg).css("visibility","visible")
                    }
                })
            };
            this.olderPop=new OlderPop({
                callBack:this.submit
            });
            this.init();
        }
        Page.prototype={
            constructor:Page,
            init:function(){
                var _this=this;
                var height=$("main").height();
                new NativeFn().giveHeight({"webViewHeight": height});
                new ImageCenter();
                _this.sellerDetail();
                _this.articleDetail();
                _this.getPackage();
            },
            sellerDetail:function () {
                $(".look-more").on("click",function (e) {
                    e.stopPropagation?e.stopPropagation():e.cancelBubble=true;
                    var jumpPage=new JumpPage();
                    jumpPage.toSellerDetail(this,1,1);
                });
            },
            articleDetail:function () {
                $(".list").on("click",function () {
                    var jumpPage=new JumpPage();
                    jumpPage.toArticleDetail(this,4);
                });
            },
            getPackage:function () {
                var _this=this;
                $(".package-btn").on("click",function () {

                    if(!$("this").hasClass("disable")){

                        var native=new NativeFn();
                        if(native.isApp){
                            $(this).addClass("disable");
                            var older=new OlderPop();
                            if(native.isToken){
                                //TODO：领取红包
                                $.ajax({
                                    headers:{
                                        "Content-Type":"application/json;charset=UTF-8"
                                    },
                                    url:"/base/user/UserAction_isReceivePrice",
                                    type:"post",
                                    data:JSON.stringify({
                                        "userPhone":utils.initMainInfo().user.phone,
                                        "type":"红包"
                                    }),
                                    dataType:"json",
                                    success:function (result) {
                                        if(result.retcode==0){
                                            if(result.resp.value<=0){
                                                $.ajax({
                                                    headers:{
                                                        "Content-Type":"application/json;charset=UTF-8"
                                                    },
                                                    url:"/base/user/UserAction_sendShortMessageTip",
                                                    type:"post",
                                                    data:JSON.stringify({
                                                        seller:[
                                                            {
                                                                sellerName:"天鹅的故事",
                                                                sellerPhone:"13701229480"
                                                            },
                                                            {
                                                             sellerName:"美洛蒂",
                                                             sellerPhone:"15901199318"
                                                             },
                                                             {
                                                             sellerName:"华尔兹",
                                                             sellerPhone:"13011231316"
                                                             },
                                                             {
                                                             sellerName:"尼克工厂",
                                                             sellerPhone:"18515647556"
                                                             }
                                                        ],
                                                        type:"红包",
                                                        userPhone:utils.initMainInfo().user.phone,
                                                        userName:utils.initMainInfo().user.nickName,
                                                        award:"",
                                                        gift:"1000元代金券"
                                                    }),
                                                    dataType:"json",
                                                    success:function (result) {
                                                        if(result.retcode==0){
                                                            new OlderPop().showSucStatus();
                                                        }
                                                    }
                                                })
                                            }else {
                                                new AlertPop({message:"已领取"})
                                            }
                                        }
                                    }
                                });
                                new NativeFn().countAll("getRedEnvelopeClick");
                            }else {
                                //TODO:注册登录流程
                                _this.olderPop.showOlderPop();
                            }
                        }else {
                            native.openAPP();
                        }
                    }
                })
            }
        };
        new Page();
    })

</script>
</body>
</html>